version: '1.0'

# 컴퓨터들
services:

  # 컴퓨터이름
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    # volumes:
    #   - ./src:/myfolder/src
    ports:
      - 3000:3000
    env_file:
      - ./.env.stage

  # 컴퓨터이름
  # database:
  #   # platform: linux/86_64
  #   image: mysql:latest
  #   environment:
  #     MYSQL_DATABASE: "mydocker"
  #     MYSQL_ROOT_PASSWORD: "root"
  #   ports:
  #     - 3306:3306

